body {
  font-family: "Fira Sans", sans-serif;
  background-color: #ebf8ed;
  color: #030a06;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}
/* header mobile */
.page-footer {
  padding: 48px 0;
  background-color: #75d281;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

.footer-logo {
  max-width: 164px;
  margin: 0 auto;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.footer-item {
  line-height: 1.6;
  color: #030a06;
  line-height: 1.6;
  color: #030a06;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.icons-list-link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-svg {
  width: 24px;
  height: 24px;
  fill: #000;
}

.youtube .icons-svg {
  width: 27px;
  height: 19px;
  fill: #030a06;
}

.footer-divider {
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(3, 10, 6, 0.15);
  width: 88%;
  height: 0px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-style: normal;
  padding: 24px 0;
}

.contacts-item {
  line-height: 1.6;
  color: #030a06;
  margin-bottom: 16px;
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.footer-copyright {
  font-size: 14px;
  line-height: 1.6;
  color: #030a06;
  text-align: center;
}
/* footer-tablet  */
@media screen and (min-width: 768px) {
  .page-footer {
    padding: 64px 32px;
  }
  .footer-list {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
  }
  .icons-list-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .icons-svg {
    width: 30px;
    height: 30px;
    fill: #000;
  }

  .youtube .icons-svg {
    width: 34px;
    height: 24px;
    fill: #030a06;
  }
  .footer-divider {
    margin-top: 24px;
    width: 91%;
  }
  .contacts {
    flex-direction: row;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 0;
  }
  .contacts-list {
    display: flex;
    gap: 32px;
    margin: 0 auto;
  }
}
